body {
    font-family: Arial, sans-serif;
  }
  
  #game {
    width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  #cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
  }
  
  .card {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    cursor: pointer;
  }
  
  .card.face-up {
    background-color: #fff;
  }
  
  .card.face-down {
    background-color: #ccc;
  }
  
  #score {
    text-align: center;
  }
  
  